{% extends 'base.html' %}
{% block title %} Update{% endblock title %} 
{% block body %}

    <div class="container my-3">
        <h2>Update Course</h2>
        <form action="/update/{{todo.sno}}" method="POST">
            <div class="mb-3">
              <label for="name" class="form-label">Course Title</label>
              <input type="text" class="form-control" name="name" id="name" value="{{todo.name}}" aria-describedby="emailHelp"> 
            </div>
            <div class="mb-3">
              <label for="number" class="form-label">Course Code</label>
              <input type="text" class="form-control" value="{{todo.number}}" name="number" id="number">
            </div>
            <div class="mb-3">
              <label for="max_numb_of_students" class="form-label">No. of Students</label>
              <input type="number" class="form-control" value="{{todo.max_numb_of_students}}" name="max_numb_of_students" id="max_numb_of_students">
            </div>
            
            <button type="submit" class="btn btn-dark">Update</button>
          </form>
    </div>
   
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

{% endblock body %}